<div class="top">
    <img class="book" src="./assets/Book.png" alt="Book Icon" height="35px" width="37px" />
</div>
<div class="right">
    <select id="lang">
        <option value="serif">Serif</option>
        <option value="cursive">Cursive</option>
        <option value="system">System</option>
      </select>
      <div class="btn_and_moon">
      <div class="btn-group">
        <button id="on"></button>
        <button id="off"></button>
      </div>
      <img class="moon" src="./assets/Moon.png" alt="Moon Icon" height="25px" width="25px" />
    </div>
</div>